<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/img/prf-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles_main.css">
    <title>Intra setic</title>
</head>
<body>
    <header>
        <h1>Site interno Setic-DF</h1>
        <p>
        Assuntos internos
        </p>
    </header>

    <nav>
        <a href="/" rel="next" target="_self">Principal</a>
        <a href="/estoque" rel="next" target="_self">Estoque</a>
        <a href="/equipamento_externo" rel="next" target="_self">Equipamento externo</a>
        <a href="/gastos" rel="next" target="_self">Gastos</a>
        <a href="/aniversarios" rel="next" target="_self">Aniversários</a>
        <a href="/escala" rel="next" target="_self">Escala</a>
        <a href="/chaves_de_ativacao" rel="next" target="_self">Chaves de ativação</a>
        <a href="/usuarios" rel="next" target="_self">Usuários</a>
    </nav>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>
        Site interno da SeticDF - Criado por Samuel Linhares Nogueira
        </p>
    </footer>
</body>
</html>