.formulario {
    margin-top: 20px;
}

.formulario > form > div {
    margin-bottom: 15px;
}

.texto {
    width: 250px;
}

.remetente {
    align-items: center;
    padding: 2px;
}

.new_us{
    display: inline-flex;
    border: none;
    background-color: white;
}

.new_us:hover {
    cursor: pointer;
}

.icone_new_us {
    background-image: url(../img/bluePlus20.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}