<link rel="stylesheet" href="/css/styles_aniversario.css">

<article>
    <h1>Datas de aniversário Setic-DF</h1>
    <p>
        Aniversário
    </p>
</article>
    
<div class="pai">
    <div class="niver-box-inside">
        <h3 class="nome-niver">
            Samuel Linhares
        </h3>
        <p class="num-dia">
            09/01
        </p>
        <p class="contagem">
            Faltam x dias!!
        </p>
    </div>

    <div class="niver-box-inside">
        <h3 class="nome-niver">
            Samuel Linhares
        </h3>
        <p class="num-dia">
            09/01
        </p>
        <p class="contagem">
            Faltam x dias!!
        </p>
    </div>
</div>

<div class="pai">
    <div class="niver-box-inside">
        <h3 class="nome-niver">
            Samuel Linhares
        </h3>
        <p class="num-dia">
            09/01
        </p>
        <p class="contagem">
            Faltam x dias!!
        </p>
    </div>

    <div class="niver-box-inside">
        <h3 class="nome-niver">
            Samuel Linhares
        </h3>
        <p class="num-dia">
            09/01
        </p>
        <p class="contagem">
            Faltam x dias!!
        </p>
    </div>
</div>