<link rel="stylesheet" href="/css/styles_chave_ativ.css">

<article>
    <h1>Coleção de chaves de ativação do windows SPRF</h1>
</article>

<div class="tabela">
    <table>
        <thead>
            <tr>
                <th scope="col">Patrimônio</th>
                <th scope="col">Licença de ativação</th>
                <th scope="col">Dispositivo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
            <tr>
                <td class="borda-direita">2018006562</td>
                <td class="borda-direita">2XN4B-RVPFF-HWB3Y-KTBCH-7QWXC</td>
                <td>DELL 5480</td>
            </tr>
            <tr>
                <td class="borda-direita">2015012481</td>
                <td class="borda-direita">HDFXT-3NHB8-7QQ9J-WJFYW-DGJYP</td>
                <td>LENOVO THINKPAD</td>
            </tr>
        </tbody>

        <tfoot>

        </tfoot>
    </table>
</div>