<link rel="stylesheet" href="/css/styles_gastos.css">

<h1>Gastos internos pessoal</h1>
<div class="pai">
    <div class="valores">
        <h3>
            Caixinha Setic
        </h3>
        <p class="dinheiro">
            R$ 0.000,00
        </p>
        <button class="botao">Novo Depósito</button>
        <button class="botao">Nova Compra</button>
        <br>
        <p>
            Gastos do mês: R$ 0.000,00
        </p>
    </div>

    <div class="valores">
        <h3>
            Gastos do mês anterior
        </h3>
        <p class="dinheiro" id="ocultado">
            R$ 0.000,00
        </p>
        <button class="botao">Histórico</button>
        <button class="botao" id="ocultador">Ocultar valor</button>
        <br>
        <p>
            Arrecadamento do mês: R$ 0.000,00
        </p>
    </div>
</div>
<script>
    const ocultador = document.querySelector('#ocultador');
    const ocultado = document.querySelector('#ocultado');

    ocultador.addEventListener('click', () => {
        ocultado.classList.toggle('oculto');
    });
</script>