<link rel="stylesheet" href="/css/styles_new_ee.css">
<script src="/js/redirecionamentos.js"></script>

<article>
    <h1>Nova entrada de equipamento externo</h1>
</article>

<div class="formulario">
    <form action="/add_ee" method="POST">
        <div>
            <label>Dispositivo: </label>
            <input type="text" maxlength="30" class="texto" id="nome_dispositivo" name="nome_dispositivo">
        </div>
        <div>
            <label>Patrimônio: </label>
            <input type="text" maxlength="10" class="texto" id="patrimonio" name="patrimonio">
        </div>
        <div>
            <label>Remetente: </label>
            <select name="inspetor" id="inspetor" class="remetente">
                {{#each inspetores}}
                    <option>{{nome}}</option>
                {{/each}}
            </select>
            <select name="terceirizado" id="terceirizado" class="remetente">
                {{#each terceirizados}}
                    <option>{{nome}}</option>
                {{/each}}
            </select>
            <button type="button" class="new_us" onclick="new_user()">
                <span class="icone_new_us"></span>
            </button>
        </div>
        <div>
            <label>Responsável: </label>
            <select name="responsavel" id="responsavel">
                {{#each tecnicos}}
                    <option>{{nome}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <label>Data de entrada: </label>
            <input type="date" id="entrada" name="entrada">
        </div>
        <div>
            <label>Observações: </label>
            <input type="text" maxlength="100" class="texto" id="obs" name="obs">
        </div>
        <input type="submit" value="Registrar">
    </form>
</div>